@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.carga{
    overflow-y: hidden;
}
.loadera{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    align-items: center;
    
}
      
.container-load{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease-in-out 10s;
}
      
.pacman {
        position: relative;
        left: 14%;
        background: transparent;
        z-index: 1;
}
.pacman::before, .pacman::after {
        position: absolute;
        top: -35px;
        display: block;
        border-radius: 50%;
        content: "";
        height: 0px;
        width: 0px;
}
.pacman::before {
        animation: chunk-top 0.5s ease infinite;
        border: 35px solid #FFCC00;
        border-left-color: transparent;
        border-bottom-color: transparent;
}
.pacman::after {
        animation: chunk-bottom 0.5s ease infinite;
        border: 35px solid #FFCC00;
        border-right-color: transparent;
        border-top-color: transparent;
}
      
.path {
        display: flex;
        justify-content: space-around;
        animation: eating-path 0.5s linear infinite;
        width: 100%;
        position: relative;
        left: 16%;
}
.path::before {
        background: #ffffff;
        border-radius: 50%;
        content: "";
        height: 1rem;
        width: 1rem;
}

      
      @keyframes chunk-top {
        0%, 100% {
          transform: rotate(-45deg);
        }
        50% {
          transform: rotate(-80deg);
        }
      }
      @keyframes chunk-bottom {
        0%, 100% {
          transform: rotate(-40deg);
        }
        50% {
          transform: rotate(0deg);
        }
      }
      @keyframes eating-path {
        0% {
          transform: translateX(50%);
        }
        100% {
          transform: translateX(-50%);
        }
      }

    
.loader2{
    display: none;
}
    


.cargado{
    overflow-y: scroll;
}

#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}


.header{

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


body{
    font-family: "Poppins", sans-serif;
    background-color: #000000;
}





.container{
    width: 100%;
    margin: 0 auto;
}
.menu-container{
    position: fixed;        
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    animation: enlace-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 400px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0px 00px 00px 100px;
}
    
.navbar ul li{
    position: relative;
    float: left;
    margin-right: 50px;
    transition: 1s;
}
.navbar ul li a{
    font-size: 22px;
    padding: 16px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
    transition: 1s;
}
.navbar ul li a:hover{
    color: #97c6f1;
}

.navbar ul li:hover{
    transform: scale(1.4);
    box-shadow: 10px solid #ffffff ;
}

#menu{
    display: none;
}

.menu-icono{
    width: 50px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: center;
    z-index: 9;
}
.header-content h1{
    font-size: 65px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-content h2{
    font-size: 26px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    background-color: #7295df;    
    border: none;
    border-radius: 40px;
    color: white;    
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #7295df;
    cursor: pointer;
    position: relative;
}
.btn-1:hover{
    color: #97c6f1;
}

.subjects{
    padding: 100px 0;
    background-color: #000000;
    position: relative;
    display: flex;
}
.subjects-content{
    text-align: center;
}
.subjects-content h2{
    font-size: 45px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

@keyframes enlace-header {
    to{
        background: rgba(0, 0, 0, 0.697);
        backdrop-filter: blur(5px);

    }
}


.txt-pro


.readmore_btn{
    background-color: #7295df;    
    border: none;
    border-radius: 40px;
    color: white;    
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #7295df;
    cursor: pointer;
    position: relative;
    left: 100px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

.readmore_btn:hover{
    box-shadow: none;
    color: #ff0000;
    
}

.readmore_btn::before{
    content: "LEER MAS"; 
}



.okarun{
    display: none;
    transition: ease-in-out 2s;
}

/* scrollbar para la barra esa */
span.show{
    transition-duration: 2s;
}




.show{
    transition: ease-in-out 2s;
    text-align: justify;
    color: #ffffff;
    display: block;
    padding: 0px 50px 0px 50px;
    margin-bottom: 20px;
}

.show h2{
    color: #000000;
}



.content{
    color: none;
}

.que{
    text-align: left;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
    padding: 0px 300px 0px 200px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 90% cover 48%;
}

.que h2{
    text-align: center;
    padding: 0% 5%;
}

.txt-q{
    width: 100%;
    padding: 0% 5%;
    font-size: 18px;
    text-align: justify;
}

.queiz{
    text-align: left;
}


.txt-ex{
    width: 100%;
    padding: 0% 5%;
    font-size: 18px;
    text-align: justify;
}

@keyframes reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.txt-pro{

    left: 200px;
    z-index: 100;
    position: absolute;
    justify-content: center;

}   

.txt-p{
    font-size: 16px;
    color: white;
    padding: 0 250px;
    margin-bottom: 3px;
}


.subjects-group{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 300px 300px;
    justify-items: center;
    align-items: center;
}

.subjects-group p{
    position: relative;
    color: white;
    z-index: 100;
}

.subjects-1{
    top: 100px;
    flex-basis: 100px;
    flex-grow: 1;
    padding: 0 25px;
}

.subjects-1 p{
    text-align: justify;
}

.badge {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background: url(../img/autismo.jpg) no-repeat 100% 50%;
  background-size: 120%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.prim{
    background: url(../img/autismo.jpg) no-repeat 100% 50%;
    background-size: 120%;
}

.badge:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badge:hover .text {
  transform: rotate(-45deg) translate(-100px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5);
  width: 200px;
  letter-spacing: 0.5rem;
  line-height: 220px;
  height: 200px;
  margin-top: -172px;
  margin-left: -30px;
  font-size: 20px;
  
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badge .text {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -80px;
  font-size: 10px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rebeccapurple;
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}






.celu{
    display: none;
}


.meto{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/estudio.jpg);
    padding: 200px 200px 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    background-attachment: fixed;
    background-color: #fff;
}

.meto {
    font-size: 55px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0px;
    
}

.tit{
    text-align: center;
}



.general h2{
    font-size: 55px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.general p{
    font-size: 16px;
    color: #fff;
    margin: 0px 0px 0px 0px;
}

.metes{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 0% 150px 100px 100px;
    background-color: #414247;
}

.imgl{
    background-image: url(../img/escuela1002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: right;
}

.tituloleft{
    margin-top: 50px;
    text-align: center;
}

.textoleft{
    text-align: justify;
    padding: 00px 00px 20px 0px;
}

.metin{
    display: flex;
}

.right{
    width: 50%;
    padding: 0% 150px 100px 100px;
    background-color: #414247;

}
.imgr{
    background-image: url(../img/escuelaneo22.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: left;
    
}

.tituloderecha{
    margin-top: 50px;
    text-align: center;
}

.textoright{
    text-align: justify;
    padding: 00px 00px 20px 0px;
}

.footer{
    width: 100%;
    background-color: #0d2033;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.footer-content{
    width: 100%;
    max-width: 1200px;
    margin: 0% 10% ;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 1% 1%;
}
.footer .footer-content .link figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: none;
    align-items: none;
}
.footer .footer-content .link h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .footer-content .link p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .footer-content .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
}
.footer .footer-content .red-social a:hover{
    color: #97c6f1;
}

#neurodiversityChart{
    z-index: 10;
}




@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 100px 30px;
    }
    .header-content h1{
        font-size: 55px;
        overflow-wrap: break-word;
    }
    .header-content h2{
        padding: 0;
    }
    .subjects{
        padding: 30px 30px 30px 30px;
    }
    .subjects-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .subjects-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .subjects-img {
        display: none;
    }
    .general{
        flex-direction: column;
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .footer-content{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}